@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(43, 86%, 17%);
  --clr-primary-2: hsl(43, 77%, 27%);
  --clr-primary-3: hsl(43, 72%, 37%);
  --clr-primary-4: hsl(42, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(42, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(43, 89%, 70%);
  --clr-primary-7: hsl(43, 90%, 76%);
  --clr-primary-8: hsl(45, 86%, 81%);
  --clr-primary-9: hsl(45, 90%, 88%);
  --clr-primary-10: hsl(45, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-7);
}
/* section */
.section {
  padding: 5rem 0;
}
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background-color: var(--clr-primary-5);
}
.section-title {
  margin-bottom: 4rem;
  text-align: center;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
.bg-grey {
  background-color: var(--clr-grey-10);
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
/* ---------------Navbar--------------- */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  padding: 1rem;
  background-color: var(--clr-white);
  display: grid;
  align-items: center;
  z-index: 100;
  transition: var(--transition);
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.nav-btn {
  background: transparent;
  border: none;
  color: var(--clr-primary-5);
  font-size: 2rem;
  cursor: pointer;
  justify-self: flex-end;
}
.nav-links {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    /* background: var(--clr-primary-10); */
  }
  .nav-btn {
    display: none;
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  .nav-links {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 2rem;
  }
  .nav-links a {
    text-transform: capitalize;
    color: var(--clr-grey-1);
    letter-spacing: var(--spacing);
    transition: var(--transition);
  }
  .nav-links a:hover {
    color: var(--clr-primary-5);
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-grey-10);
  z-index: 10;
  display: grid;
  /* justify-items: center;
  align-items: center; */
  place-items: center;
  transition: var(--transition);

  transform: translateX(-100%);
}
.sidebar.show {
  transform: translateX(0);
  z-index: 200;
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: red;
  font-size: 3rem;
  cursor: pointer;
  border: none;
  background: transparent;
  transition: var(--transition);
}
.close-btn:hover {
  color: #e66b6b;
}
.close-btn i {
}
.sidebar-links {
  text-align: center;
}
.sidebar-links li a {
  display: inline-block;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-transform: capitalize;
  transform-origin: var(--transition);
  color: var(--clr-grey-5);
  transition: var(--transition);
}
.sidebar-links a:hover {
  color: var(--clr-primary-5);
}
.social-icons {
  width: 20rem;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
.social-icon {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  transition: var(--transition);
}
.social-icon:hover {
  color: var(--clr-primary-5);
}
/* ---------------Hero--------------- */
.hero {
  background-color: var(--clr-primary-10);
  margin-top: 5rem;
}
.hero-center {
  height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
  gap: 2rem;
}
.hero-info {
}
.hero-info h4 {
  color: var(--clr-grey-5);
}
.hero-btn {
  margin-top: 1.25rem;
}
.hero-icons {
  justify-items: start;
}
.hero-img {
  display: none;
}
.hero-img img {
}
@media screen and (min-width: 992px) {
  .hero-center {
    grid-template-columns: 1fr 1fr;
  }
  .hero-img {
    display: block;
    width: 70%;
    height: 25rem;
    position: relative;
    z-index: 3;
  }
  .hero-img img {
    border-radius: var(--radius);
  }
  .hero-img::before,
  .about-img::before {
    content: "";
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-primary-5);
    z-index: -1;
    border-radius: var(--radius);
  }
}

/* ---------------About--------------- */
.about {
}
.about-center {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 3rem 2rem;
  justify-items: center;
  align-items: center;
}
.about-img {
  width: 25rem;
  height: 30rem;
  /* justify-self: center; */
}
.about-img img {
  border-radius: var(--radius);
}
.about-info {
}
.about-title {
  text-align: left;
  margin-bottom: 2rem;
}
.about-title .underline {
}
@media screen and (min-width: 992px) {
  .about-center {
    grid-template-columns: 1fr 1fr;
  }
  .about-img {
    position: relative;
  }
  /* .about-img::before grouped with hero img */
  .about-img::before {
    left: -1.5rem;
  }
  .about-info {
    align-self: center;
  }
}

/* ---------------Services--------------- */
.services {
}
.services-center {
}
.services .underline,
.projects .underline {
  margin: 0 auto 1.25rem auto;
}
.service {
  background-color: var(--clr-white);
  padding: 3rem 1.5rem;
  margin-bottom: 2rem;
  border-radius: var(--radius);
  text-align: center;
  transition: var(--transition);
}
.service i {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.service .underline {
  width: 3rem;
  height: 0.12rem;
  transition: var(--transition);
}
.service p {
  transition: var(--transition);
}
.service:hover {
  background-color: var(--clr-primary-5);
  color: var(--clr-white);
}
.service:hover .underline {
  background-color: var(--clr-white);
}
.service:hover p {
  color: var(--clr-white);
}
@media screen and (min-width: 768px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* ---------------Projects--------------- */
.projects {
}
.project-text {
  width: 85vw;
  max-width: 30rem;
  margin: 0 auto;
}
.projects-center {
}
.project-1 {
}
.project {
  position: relative;
  background-color: var(--clr-primary-5);
  border-radius: var(--radius);
  margin-bottom: 2rem;
}
.project-img {
  border-radius: var(--radius);
  height: 15rem;
  transition: var(--transition);
}
.project-info {
  text-align: center;
  color: var(--clr-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
  opacity: 0;
}
.project-info p {
  text-transform: capitalize;
}
.project:hover .project-img {
  opacity: 0.1;
}
.project:hover .project-info {
  opacity: 1;
}
.project-2 {
}
.project-3 {
}
.project-4 {
}
.project::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.25rem solid var(--clr-white);
  border-radius: var(--radius);
  transition: var(--transition);
  opacity: 0;
}
.project:hover::after {
  opacity: 1;
  transform: scale(0.75);
}
@media screen and (min-width: 676px) {
  .projects-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .project {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1170px) {
  .projects-center {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    grid-template-areas:
      "a b b"
      "a c d";
  }
  .project {
    height: 100%;
  }
  .project-img {
    height: 100%;
  }
  .project-1 {
    grid-area: b;
  }
  .project-2 {
    grid-area: a;
  }
  .project-3 {
    grid-area: c;
  }
  .project-4 {
    grid-area: d;
  }
}
